@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
.fancy-text{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: transparent;
}
.fancy-heading{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    color: transparent;
}
.fancy-heading-white{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #FFFFFF;
    color: transparent;
}
.fancy-text-small{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #FFFFFF;
    color: transparent;
}

.category::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
    height:0px; /* Height of the horizontal scrollbar */
  }


